.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.192;
  }

  &--black {
    color: var(--primary-logo-color);
  }

  &--white {
    color: var(--secondary-logo-color);
  }
}

// .header__logo {
//   padding-top: 24px;
//   padding-bottom: 25px;
// }

// .footer__logo {
//   display: inline-block;
//   margin-bottom: 20px;
// }
