.mob-menu__open-button,
.mob-menu__close-button {
  border: none;
  background-color: transparent;
  min-height: 60px;
  align-items: center;
  padding: 0;
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.mob-menu__close-button {
  position: absolute;
  top: 0;
  right: 0;

  padding-right: 15px;
}

.menu-icon-mob {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mob__menu {
  @media screen and (min-width: 769px) {
    display: none;
  }

  background-color: var(--header-bg-color);

  width: 100vw;
  height: 100vh;
  overflow-y: scroll;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    min-height: 100vh;
    padding: 48px 40px;
  }
}

.mob__nav {
  margin-bottom: auto;
}

.mob-nav__item {
  &:nth-child(n + 2) {
    margin-top: 32px;
  }
}

.mob-nav__link {
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--current {
    color: var(--accent-color);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob__contacts {
  margin-bottom: 64px;
}

.mob-contacts__item {
  &:nth-child(n + 2) {
    margin-top: 32px;
  }
}

.mob-contacts__link-tel {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
}

.mob-contacts__link-mail {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
}

.mob__soc-media {
  display: flex;
  flex-wrap: wrap;
}

.mob-soc-media__item {
  &:nth-child(-n + 3) {
    padding-right: 10px;
  }
  &:nth-child(n + 2) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 9px;
  }
}

.mob-soc-media__link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
