:root {
  /* bg colors */
  --header-bg-color: #ffffff;
  --main-bg-color: #ffffff;
  --banner-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --benefit-logo-bg-color: #f5f4fa;
  --what-we-doing-bg-color: rgba(47, 48, 58, 0.8);
  --footer-bg-color: #2f303a;
  --portfolio-overlay-bg-color: rgba(33, 150, 243, 0.9);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --team-cards-bg-color: #ffffff;
  --projects-cards-bg-color: #eeeeee;

  /* title colors */
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;

  /* text colors */
  --primary-text-color: #757575;
  --secondery-text-color: #ffffff;

  /* header colors */
  --primary-header-color: #212121;
  --secondary-header-color: #757575;

  /* accent color */
  --accent-color: #2196f3;

  /* btn color */
  --portfolio-btn-color: #f5f4fa;
  --main-btn-hover-color: #188ce8;

  /* icons colors */
  --team-soc-media-icon-color: #afb1b8;
  --footer-soc-media-icon-color: #ffffff;
  --clients-fill-color: #afb1b8;
  --modal-icon-fill-color: #212121;
}
